/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

@include mat.core();

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$pink-palette),
      accent: mat.define-palette(mat.$blue-grey-palette),
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette),
      accent: mat.define-palette(mat.$pink-palette),
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

$theme-icon-dark: url("assets/images/icons/sun.svg");
$theme-icon-light: url("assets/images/icons/moon.svg");

:root {
  --theme-icon: $theme-icon-light;
}

@mixin apply-theme-icon($theme) {
  @if $theme == "dark" {
    --theme-icon: #{$theme-icon-dark};
  } @else {
    --theme-icon: #{$theme-icon-light};
  }
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100vh;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@mixin apply-theme-colors($theme, $component) {
  @include mat.all-component-colors($theme);
  .#{$component} {
    background-color: mat.get-theme-color($theme, $component);
  }
}

.dark-theme {
  @include apply-theme-colors($dark-theme, "primary");
  @include apply-theme-icon("light");
}

.light-theme {
  @include apply-theme-colors($light-theme, "primary");
  @include apply-theme-icon("dark");
}
