/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "../src/styles/themes/light-theme.scss";
@use "../src/styles/themes/dark-theme.scss";

@include mat.core();

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100vh;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}