<div class="search-bar-container">
  <mat-form-field class="form-field" subscriptSizing="dynamic">
    <mat-label>Search keyword</mat-label>
    <mat-icon matPrefix>search</mat-icon>
    <input matInput type="text" [(ngModel)]="value" />
    @if (value) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="value = ''">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>
</div>
@defer {
  <cdk-virtual-scroll-viewport
    scrollWindow
    itemSize="50"
    (scrolledIndexChange)="getNextBatch()"
  >
    <div
      *cdkVirtualFor="let item of infinite | async; trackBy: trackBy"
      class="example-item"
    >
      {{ item.name }}
      {{ item.query }}
    </div>
    @if (!theEnd) {
      <div>Loading...</div>
    }
  </cdk-virtual-scroll-viewport>
}
@if (theEnd) {
  <div>No more data to load...</div>
}
