<mat-toolbar class="search-bar-container" color="primary">
  <mat-form-field class="form-field" subscriptSizing="dynamic">
    <mat-label>Search keyword</mat-label>
    <mat-icon matPrefix>search</mat-icon>
    <input
      #searchInput
      matInput
      type="text"
      [(ngModel)]="value"
      (keyup)="searchQuery$.next(searchInput.value)"
    />
    @if (value) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="value = ''">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>
  <a
    class="icon-link"
    (click)="ts.themeOnClick()"
    (keydown.Enter)="ts.themeOnClick()"
    tabindex="0"
  >
    <img
      class="theme-icon theme-icon-menu"
      src="{{
        (ts.isDarkMode$ | async)
          ? 'assets/images/icons/sun.svg'
          : 'assets/images/icons/moon.svg'
      }}"
      [alt]="(ts.isDarkMode$ | async) ? 'Moon Icon' : 'Sun Icon'"
  /></a>
</mat-toolbar>
@defer {
  <cdk-virtual-scroll-viewport
    scrollWindow
    itemSize="50"
    (scrolledIndexChange)="getNextBatch()"
  >
    <div
      class="photo-container"
      *cdkVirtualFor="let photo of photos$ | async; trackBy: trackBy"
    >
      <app-card
        [photographer]="photo.photographer"
        [src]="photo.src.tiny"
        [srcDownload]="photo.src.original"
        [alt]="photo.alt"
        [url]="photo.url"
      />
    </div>
    @if (loading$ | async) {
      <div class="photo-container">Loading...</div>
    }
    @if (theEnd$ | async) {
      <div class="photo-container">No more data to load...</div>
    }
  </cdk-virtual-scroll-viewport>
}
