.search-bar-container {
  position: fixed;
  inset: 0;
  width: 100%;
  z-index: 1;
  height: fit-content;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  gap: 0.25rem;
}

.form-field {
  width: 100%;
}

cdk-virtual-scroll-viewport {
  margin-top: 56px;
}

.photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.25rem;
}

.icon-link {
  display: flex;
}

.icon-link:focus-visible {
  outline: solid 1px white;
}

.theme-icon {
  width: 3rem;
  height: 3rem;
  background-image: var(--theme-icon);
  background-size: contain;
  background-position: center;
}